@import url(variables.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto slab', serif;
}
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    height: 100vh;
}
.fondo {
    position: absolute;
    z-index: -1;
    width: 100%;
    background: var(--color-ternario);
}
.fondo img {
    width: 100%;
    opacity: 0.05;
}
header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15%;
}
.navegadores a , .contact a {
    margin: 0 25px;
    color: var(--color-font);
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
    font-size: larger;
}
.navegadores a:first-child {
    color: var(--color-primary);
}
.present {
    display: flex;
    align-items: center;
    height: max-content;
    height: 85%;
}
.present div:first-child {
    width: 50%;
    display: flex;
    justify-content: center;
}
.present div:first-child img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 35%;
}
.text h1 {
    font-size: 5rem;
    font-weight: bolder;
    color: var(--color-primary);
}

.text p {
    font-size: xx-large;
    font-weight: bolder;
    color: var(--color-font);
    margin: 10px 0;
}
.text button {
    font-weight: bolder;
    font-size: xx-large;
    color: var(--color-secundary);
    background: var(--color-primary);
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    margin-top: 20px;
}

/* Main top */
main {
    background: var(--color-secundary);
}

.top {
    display: flex;
    height: 100vh;
}

.imagen-top {
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-top img {
    height: 80%;
    object-fit: cover;
}
.text-top {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-font);
}

.text-top h1 {
    font-size: 4em;
}
.text-top p {
    font-size: 3em;
    font-weight: bolder;
    margin-right: 5%;
}

/* mid */
.mid {
    position: relative;
}
.mid-fondo img {
    width: 100%;
}
.img-1 {
    position: absolute;
    right: 0;
    top: 3%;
}
.img-2 {
    width: 60vw;
    position: absolute;
    right: 0;
    top: 38%;
}

.img-3 {
    width: 35vw;
    position: absolute;
    top: 60%;
}

.mid-text {
    font-size: 2vw;
    width: 30%;
    position: absolute;
    color: var(--color-font);
    top: 20%;
    right: 60%;
}
.mid-text h1 {
    margin-bottom: 20px;
}
/* gallery */

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery h1 {
    color: var(--color-font);
    font-size: 3em;
    margin: 8% 0 4% 0;
}
.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.images img {
    margin: 1.5%;
    width: 25%;
}

/* Enjoy */
.enjoy {
    margin-top: 10%;
    position: relative;
}

.fondo-enj {
    width: 100%;
}
.fondo-enj img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.enj-txt {
    position: absolute;
    color: var(--color-font);
    border: 10px solid var(--color-primary);
    width: 50%;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    font-size: 3em;
    padding: 5%;
    text-align: center;
    font-weight: bolder;
}
.enj-txt h1 {
    margin-bottom: 35px;
}

/* Menu */

.menu {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: var(--color-font);
}
.menu h1 {
    margin-bottom: 5%;
    font-size: 3em;
}
.menu:last-child {
    align-items: center;
}
.cont-men {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin: 0 5%;
}

.img-men-1 img,
.img-men-2 img,
.img-men-3 img {
    width: 25vw;
}

.img-men-1 h3, h4,
.img-men-2 h3, h4,
.img-men-3 h3, h4 {
    margin: 15px 0;
    font-size: 2em;
    color: var(--color-primary);
}
.img-men-1 p,
.img-men-2 p,
.img-men-3 p {
    font-size: x-large;
    width: 75%;
}

/* Footer */
footer {
    position: relative;
}
.orange {
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-font);
}
.fnl-txt {
    width: 25%;
    font-weight: bolder;
    font-size: xx-large;
    padding: 15vh 0;
}
.orange img  {
    position: absolute;
    left: 0;
}

.social-media {
    background: var(--color-ternario);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 0;
}

.social-media img {
    width: 15%;
    margin-bottom: 2%;
}

.social-media nav {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-bottom: 2%;
}

.social-media nav a {
    text-decoration: none;
    color: var(--color-font);
}

.social [name='facebook-circle'], [name='twitter'], [name='instagram'], [name='pinterest']{
    background: var(--color-font);
    border-radius: 50%;
    width: 25px;
    height: auto;
    margin: 0 5px;
}
