@import url(variables.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto slab', serif;
}
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    height: 100vh;
}
.fondo {
    position: absolute;
    z-index: -1;
    width: 100%;
    background: var(--color-ternario);
}
.fondo img {
    width: 100%;
    opacity: 0.05;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15%;
}
.navegadores a , .contact a {
    margin: 0 25px;
    color: var(--color-font);
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
    font-size: larger;
}
.navegadores a:first-child {
    color: var(--color-primary);
}
.present {
    display: flex;
    align-items: center;
    height: max-content;
    height: 85%;
}
.present div:first-child {
    width: 50%;
    display: flex;
    justify-content: center;
}
.present div:first-child img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 35%;
}
.text h1 {
    font-size: 5rem;
    font-weight: bolder;
    color: var(--color-primary);
}

.text p {
    font-size: xx-large;
    font-weight: bolder;
    color: var(--color-font);
    margin: 10px 0;
}
.text button {
    font-weight: bolder;
    font-size: xx-large;
    color: var(--color-secundary);
    background: var(--color-primary);
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    margin-top: 20px;
}

/* Main top */
main {
    background: var(--color-secundary);
}

.top {
    display: flex;
    height: 100vh;
}

.imagen-top {
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-top img {
    height: 80%;
    object-fit: cover;
}
.text-top {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-font);
}

.text-top h1 {
    font-size: 4em;
}
.text-top p {
    font-size: 3em;
    font-weight: bolder;
    margin-right: 5%;
}

/* mid */